@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
    /* outline: 4px solid green !important;   */
}

a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
header{
    overflow: hidden;
    background: #161616;
    display: grid;
    grid-template-rows: 1fr 84px;
    overflow: hidden;
}
.header__nav-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 110px;
    padding: 30px 16px;
    position: fixed;
    left: -120vw;
    width: 100vw;
    height: 100vh;
    background-color: #161616;
    z-index: 5;
}
.header__logo-exit{
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__nav-bar-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    & ol a{
        font-size: 14px;
        font-weight: 400;
        line-height: 16.44px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: white;
    }
}

#nav-bar:checked ~ header .header__nav-bar{
    left: 0;
}
.header__bg{
    display: none;
}
.header__top-nav-bar__button{
    display: none;
}
#nav-bar{
    appearance: none;
    position: fixed;
    right: -10px;
}

.bottom{
    background-color: #F1F2F5;
    grid-column: 1/2;
    grid-row: 2/3;
}

.header__top, .footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 30px 0;
}
.header__top-logo, .footer__top-logo{
    display: inline-block;
    & a{
        display: inline-block;
        border: 1px solid white;
        padding: 11px 19px 10px 19px;

        text-transform: uppercase;
        color: white;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.09px;
        letter-spacing: 0.22em;

    }
}
.header__top-nav-bar,.footer__top-nav-bar{
    display: flex;
    gap: 25px;
}
.icon{
    display: flex;
    align-items: center;
    gap: 5px;
}
:is(.header__top-nav-bar,.footer__top-nav-bar) ol a{
    text-transform: uppercase;

    font-size: 13px;
    font-weight: 400;
    line-height: 15.26px;
    letter-spacing: 0.1em;
    color: white;
}

.header__bottom{
    display: flex;
    gap: 35px;
    
}
.bottom-title{
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.bottom-cut{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 51px;
}

.bottom__title-text{
    width: 533px;
    margin-top: 140px;
    margin-right: 5px;

    & h2{
        font-family: 'Raleway';
        font-size: 27px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 0.12em;
        text-align: left;
        color: white;
        text-transform: uppercase;
    }
}
.bottom-cut a{
    padding: 19px 53px;
    background: #FFE500;

    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    letter-spacing: 0.13em;
}
.bottom__title-direction{
    margin-bottom: 30px;
    align-self: flex-end;
    display: flex;
    gap: 10px;

    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    color: white;
    & button{
        background-color: rgba(255, 255, 255, 0);
        border: none;
    }
}
.bottom-img{
    position: relative;

}
.bottom-img img{
    position: absolute;
    top: 81px;
}




.section__useful{
    background: #F1F2F5;
}
.useful__container{
    padding: 130px 0 70px 0;
}
.useful-title{
    text-align: center;
    margin-bottom: 50px;

    & h3{
        font-size: 30px;
        font-weight: 600;
        line-height: 35.22px;
    }
}

.useful-blocks{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 45px;
    column-gap: 30px;
}
.useful-block{
    height: 460px;
    width: 370px;
    background-color: white;
    margin-top: 20px;
    transition: margin 0.5s;
}
.useful-block:hover{
    align-self: flex-start;
    margin-top: 0%;
    cursor: pointer;

    & p{
        font-weight: 800;
        line-height: 21px;
    }
}
.useful-block-img{
    & img{
        width: 370px;
        max-height: 345px;
    }
}
.useful-block-text{
    padding: 35px 20px 0 30px;

    & p{
        font-size: 18px;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
}

.advantages__container{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 144px;

}
.our-advantages{
    display: flex;
    flex-direction: column;
    gap: 84px;
}
.our-advantages-title{
    text-align: center;
    & p{
        font-size: 30px;
        font-weight: 600;
        line-height: 35.22px;
    }
}

.our-advantages-blocks{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 85px;
}
.our-advantages-block{
    display: flex;
    align-items: start;
    gap: 40px;
}
.our-advantages-block-number{
    padding: 14px 10px 13px 10px;
    background-color: #FFE500;

    & p{
        font-size: 20px;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: 3px;
    }
}
.our-advantages-block-name{
    width: 185px;
    & p{
        font-size: 16px;
        font-weight: 600;
        line-height: 18.78px;
    }
}

.map{
    display: flex;
    flex-direction: column;
    gap: 46px;
}
.map-title{
    text-align: center;
    & h3{
        font-size: 30px;
        font-weight: 600;
        line-height: 35.22px;
    }
}


.map-rent{
    margin-top: 122px;
    display: flex;
    align-items: center;
}
.map-rent-about, .composition-rent-about{
    & h3{
        font-size: 30px;
        font-weight: 700;
        line-height: 35.22px;
        letter-spacing: 0.13em;
        margin-bottom: 25px;
    }
    & p{
        font-size: 15px;
        font-weight: 400;
        line-height: 17.61px;
        color: #161616;
        margin-bottom: 40px;
    }
    & a{
        display: inline-block;
        padding: 21px 30px 17px 30px;
        background-color: #161616;
        font-family: 'Raleway';
        font-size: 12px;
        font-weight: 700;
        line-height: 14.09px;
        letter-spacing: 2px;
        color: white;
    }
}


.map-rent-img{
    position: relative;
}

.map-rent-img-shadow{
    position: absolute;
    background-color: #F1F2F5;
    width: 100%;
    height: 100%;
    top: -66px;
    left: -60px;
    z-index: -1;
}



.section_composition{
    display: grid;
    grid-template-rows: 1fr 100px;
    padding-top: 133px;
    background-color: #161616;
    overflow: hidden;
}

.com-bottom{
    background-color: white;
    grid-row: 2/3;
}
.composition-rent{
    display: flex;
    gap: 150px;
}


.composition-rent-about{
    padding-top: 72px;
    padding-bottom: 109px;
    & h3{
        color: white;
    }
    & p{
        width: 493px;
        color: white;
    }
    & a{
        border: 1px solid white;
        color: white;
    }
}
.composition-rent-img{
    position: relative;


    & img{
        position: absolute;
    }
}

.share-contact__container{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 31px;
}

.share-contact-title{
    width: 720px;

    & h3{
        font-size: 25px;
        font-weight: 700;
        line-height: 29.35px;
        letter-spacing: 0.13em;
        text-align: center;
    }
}

.share-contact-inputs{
    display: flex;
    gap: 15px;
    justify-content: center;

    & input{
        width: 250px;
        padding: 18px 20px 18px 20px;
        background-color: #EFF0F1;
        outline: none;
        border: none;
    }
    & input::placeholder{
        font-family: 'Raleway';
        font-size: 16px;
        font-weight: 400;
        line-height: 18.78px;
        text-align: left;

    }
    & button{
        background-color: #161616;
        border: none;
        color: white;
        padding: 18px 45px;
    }
}



footer{
    background-color: #161616;
}